#!/usr/bin/env python


# add plugin data here

enabled_plugins = ["plugins.search.SearchPlugin", "plugins.mall.MallPlugin"]
mall_urls=["https://www.smzdm.com/mall/cebbank/"]
search_urls=["https://search.smzdm.com/?c=home&s=90%E5%88%86%E6%88%B7%E5%A4%96%E4%BC%91%E9%97%B2%E5%8F%8C%E8%82%A9%E5%8C%85&order=time&mall_id=183"]

